:root{
    --gallery__background--color: #2a2a2c;
    --card__background--color: #323234;
    --card__text--color: #ffffff;
    --text__price--color: #1b1b1d;
    --icon__hearth--color: #ff0000;
    --icon__hand-color: rgb(40, 54, 253);;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.gallery{
    margin: 5em auto;
    width: 90%;
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}

.card{
    border-radius: .3em;
    color: #000000;
    background-color: var(--card__background--color);
    box-shadow: #000000;
    color: var(--card__text--color);
}

.card__header{
    width: 100%;
    overflow: hidden;
}

.card__header img{
    /*Hacemos que las imagenes sean de tipo bloque para que ocupen todo el espacio
    y no hayan margenes*/
    display: block;
    border-top-left-radius: .2em;
    border-top-right-radius: .2em;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card__body{
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 1em;
}

.card__body--text{
    margin-bottom: 1em;
    font-size: 1rem;
    line-height: 1.5;
}

.card__body--reactions--price{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.card__body--reactions--price svg{
    width: 8%;
}

.price{
    padding: .7em;
    font-size: .9rem;
    background-color: var(--text__price--color);
    color: var(--card__text--color);
    border-radius: 1.5em;
}

.like, .dislike{
    fill: #FFFFFF;
}

.like:hover, .dislike:hover{
    cursor: pointer;
}

.like:hover{
    fill: #ff0000;
}

.dislike:hover{
    fill: var(--icon__hand-color);
}

@media screen and (max-width: 852px){
    .gallery{
        display: grid;
        width: 60%;
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 668px){
    .gallery{
        display: grid;
        width: 80%;
    }
}