*{
    padding:  0;
    margin:  0;
    box-sizing: border-box;
}

body{
    background-color: rgba(147, 113, 180, 0.568);
}

.cards{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    display: grid;
    grid-template-rows: 600px;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.cards__item{
    width: 100%;
    height: 95%;
    min-height: 400px;
    background-color: #FFFFFF;
    border-radius: 0.5em;
}

.card__header{
    width: 100%;
    height: 55%;
}

.card__header img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

.card__body{
    width: 100%;
    min-height: 45%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 1.5em;
}

.card__body p{
    font-size: 1.2rem;
    text-align: left;
    line-height: 1.5;
}

.btn-info{
    padding: 1em 6em;
    border: none;
    border-radius: 0.2em;
    background-color: rgb(206, 161, 94);
}

.btn-info:hover{
    background-color: transparent;
    padding: 0.9em 6em;
    border: 1px solid rgb(206, 161, 94);
}

@media screen and (max-width: 600px){
    .cards{
        display: grid;
        gap: 3em;
        grid-template-rows: repeat(2, 400px);
        grid-template-columns: 350px;
    }

    .cards__item{
        height: 200px;
    }

    .card__body{
        min-height: 50%;
    }

    .card__body p{
        /*Hay que manejar el tamaño de las fuentes, además del de los contenedores,
        porque causan que se desborde todo de la GRID, ya que no pueden contener el tamaño*/
        font-size: 0.8rem;
    }

    .btn-info{
        padding: 0.7em 4em;
        border: none;
        border-radius: 0.2em;
        background-color: rgb(206, 161, 94);
        position: relative;
        top: 0.4em;
    }

}