:root{
    --gallery__background--color: #2a2a2c;
    --card__background--color: #323234;
    --card__text--color: #ffffff;
    --text__price--color: #1b1b1d;
    --icon__hearth--color: #ff0000;
    --icon__hand-color: rgb(40, 54, 253);;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: url("../imgs/background-image.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery{
    margin: 5em auto;
    width: 90%;
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}

.card{
    border-radius: .3em;
    color: #000000;
    background-color: var(--card__background--color);
    box-shadow: #000000;
    color: var(--card__text--color);
}

.card__header{
    width: 100%;
    overflow: hidden;
    position: relative;
}

.card__header::after{
    content: "Hotels in Japan";
    opacity: .9;
    text-align: center;
    background-color: rgb(255, 0, 43);
    color: var(--card__text--color);
    font-weight: bold;
    width: 100%;
    height: 100%;
    position: absolute;
    /*Ponemos en solo top:0, porque como scale(0) le saca las medidas al elemento,
    entonces no va a funcionar sí usamos top:50%, left:50% y translate(-50%, -50%)
    entonces top:0 va a centrar al elemento ya que no contiene medidas*/
    top: 0;
    /*Ponemos la scale en 0, para que no aparezca el elemento, ya que le saca
    sus medidas, hasta que le pasemos el hover y lo cambiamos a scale 1*/
    transform: scale(0);
    padding: .1em;
    border-top-left-radius: .3em;
    border-top-right-radius: .3em;
    /*Como el pseudo-elemento ::after va a ser el contenedor, es el que va a tener
    la propiedad transition*/
    transition: transform .7s;
    /*Centramos el texto del content vertical y horizontalmente*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__header:hover::after{
    /*Cuando le pasamos el mouse por encima, le devolvemos la escala original
    y hacemos que rote en 360°*/
    transform: scale(1) rotate(360deg);
}

.card__header img{
    /*Hacemos que las imagenes sean de tipo bloque para que ocupen todo el espacio
    y no hayan margenes*/
    display: block;
    border-top-left-radius: .2em;
    border-top-right-radius: .2em;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card__body{
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 1em;
}

.card__body--text{
    margin-bottom: 1em;
    font-size: 1rem;
    line-height: 1.5;
}

.card__body--reactions--price{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.card__body--reactions--price svg{
    width: 8%;
}

.price{
    padding: .7em;
    font-size: .9rem;
    background-color: var(--text__price--color);
    color: var(--card__text--color);
    border-radius: 1.5em;
}

.like, .dislike{
    fill: #FFFFFF;
}

.like:hover, .dislike:hover{
    cursor: pointer;
}

.like:hover{
    fill: #ff0000;
}

.dislike:hover{
    fill: var(--icon__hand-color);
}

@media screen and (max-width: 852px){
    .gallery{
        display: grid;
        width: 60%;
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 668px){
    .gallery{
        display: grid;
        width: 80%;
    }
}